body {
    font-family: KaushanScript;
    color: black;
    height: 100%;
    width: 100%;
    position: absolute;
    padding: 0;
    margin: 0;
}

a {
  color:inherit;
  text-decoration: none;
 }

.header{
  width: 100%;
  position: fixed;
  top: 0;
  right:0;
  z-index: 2;
  margin-top: 30px;
  color: rgba(254, 249, 249, 0.7);
}

.header div{
  font-size: 25px;
}

.header .title{
  margin-right: 30px;
  float: right;
}

.static_frame{
  background-image: none;
  background-color: rgba(254, 249, 249, 0.1);
  clear: both;
  height: 100%;
  width: 100%;
  position: fixed;
  z-index: 1;
}

.photo_background{
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;

    float: left;
    clear: both;
    max-width: 100%;
    width: 100%;
    height: auto;
    min-height: 100%;
    z-index: -1;
}

.photo_music, .photo_merrits{
    background-size: cover;
    background-repeat: no-repeat;
}

.photo_music {
    background-image: url("../images/music.jpg");
}

.photo_merrits {
    background-image: url("../images/backdrop.jpg");
    zoom: 10%;
}

.footer {
  width: 100%;
  position: fixed;
  bottom: 0;
  background-color: rgba(249,249,249,.2);
  z-index: 2;
}

.icon_container{
  width: 400px;
  left: 50%;
  margin: 10px auto 10px auto;
  align-items: center;
  text-align: center;
}

.icon_github {
  margin: auto 0 auto 0;
}

.icon_linkedin {
  margin: auto;
}

.icon_instagram {
  margin: auto 0 auto 0;
}

@font-face {
    font-family: 'KaushanScript';
    src: url('../fonts/Quicksand-Regular.otf');
    font-style: normal;
}

@media only screen and (min-width: 768px) {
  .header div{
    font-size: 40px;
  }

  .photo_merrits{
    zoom: 100%;
  }
}
