body {
    font-family: header;
    color: black;
    height: 100%;
    width: 100%;
    position: absolute;
    padding: 0;
    margin: 0;
}

a {
  color:inherit;
  text-decoration: none;
 }

.static_frame{
  background-image: none;
  background-color: rgba(254, 249, 249, 0.1);
  clear: both;
  height: 100%;
  width: 100%;
  position: fixed;
  z-index: 1;
}

.photo_background{
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    float: left;
    clear: both;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.photo_music, .photo_merrits{
    background-size: cover;
    background-repeat: no-repeat;
}

.photo_music {
    background-image: url("../images/music.jpg");
}

.photo_merrits {
    background-image: url("../images/backdrop.jpg");
}

.footer {
  width: 100%;
  position: fixed;
  bottom: 0;
  background-color: rgba(249,249,249,.2);
  z-index: 2;
}

.icon_container{
  width: 400px;
  left: 50%;
  margin: 20px auto 20px auto;
  align-items: center;
  text-align: center;
}

.icon_github {
  margin: auto 0 auto 0;
}

.icon_linkedin {
  margin: auto;
}

.icon_instagram {
  margin: auto 0 auto 0;
}
