body {
    margin: 0;
    text-align: center;
    font-family: "Lucida Sans Typewriter", "Lucida Console", monaco, "Bitstream Vera Sans Mono", monospace;
    background: #ffffff;
    position: absolute;
}

a {
  color: inherit;
}

.footer-fixed {
    background: #ffffff;
    width: 100%;
    padding: 0px;
    margin: 0px;
    text-align: center;
    display: table;
}

.footer-fixed > .footer-label-left{
    display: table-cell;
    color: black;
    float: left;
    padding: 20px;
    font-weight: bold;
}

.footer-fixed > .footer-label-right{
    display: inline-block;
    color: black;
    padding: 20px;
    margin: auto !important;
    text-align: center !important;
    text-decoration: none !important;
}

.container{
    width: 100%;
}

#container-main{
    background: #E6F7F1;
    z-index: -1;
    height:90vh;
}

.img-circle {
    border-radius: 60%;
    width: 35%;
    height: auto;
    top: 50%;
	  transform: translateY(25%);
}

@media (min-width: 200px) {
  #container-main{
    height: 75vh;
  }
  .img-circle{
    width: 45%;
    transform: translateY(80%);
  }

  .footer-label-right{
    margin: auto;
  }
}

@media (min-width: 400px) {
  .img-circle{
    transform: translateY(70%);
  }
}

@media (min-width: 500px) {
  #container-main{
    height: 90vh;
  }

  .img-circle{
    transform: translateY(60%);
  }
}

@media (min-width: 750px) {
  .img-circle{
    width: 35%;
    transform: translateY(50%);
  }

  .footer-label-right{
    margin: auto;
    float: right;
  }
}

@media (min-width: 992px) {
  .img-circle{
    width: 35%;
    transform: translateY(20%);
}
