body {
    margin: 0;
    text-align: center;
    font-family: "Lucida Sans Typewriter", "Lucida Console", monaco, "Bitstream Vera Sans Mono", monospace;
    background: #ffffff;
    position: absolute;
}

a {
  color: inherit;
}

.button{
    background: #FFF4DA;
    text-align: center;
    float: right;
    height: 50px;
    margin: 20px;
    padding-left: 7px;
    padding-right: 7px;
    display: table-cell;
    position: relative;
    vertical-align: middle;
}

.footer-fixed {
    background: #ffffff;
    width: 100%;
    padding: 0px;
    margin: 0px;
    text-align: center;
    display: table;
    height: 10vh;
    position: relative;
}

.footer-fixed > .footer-label-left{
    display: table-cell;
    color: black;
    float: left;
    padding: 20px;
    font-weight: bold;
    font-size: 17px;
}

.footer-fixed > .footer-label-right{
    display: inline-block;
    color: black;
    padding: 20px;
    font-size: 15px;
    margin: auto !important;
    text-align: center !important;
    text-decoration: none !important;
}

.about-fixed {
    background: #ffffff;
    width: 40%;
    margin: 30px;
    font-size: 15px;
    text-align: justify;
    text-justify: inter-word;
    height: 15vh;
    position: relative;
}

@-webkit-keyframes AnimationName {
    0%{background-position:0% 73%}
    50%{background-position:100% 28%}
    100%{background-position:0% 73%}
}
@-moz-keyframes AnimationName {
    0%{background-position:0% 73%}
    50%{background-position:100% 28%}
    100%{background-position:0% 73%}
}
@keyframes AnimationName {
    0%{background-position:0% 73%}
    50%{background-position:100% 28%}
    100%{background-position:0% 73%}
}

.about-me-container{
  width: 60%;
  top: 50px;
  margin: auto;
  border-radius: 5px;
  padding: 30px;
  margin-bottom: 50px;
  text-align: left;
  position: relative;
  background: #ffffff;
}

.about-me-description{
  margin-top: 15px;
}

.container{
    width: 100%;
}

#container-main{
    /*background: #E6F7F1;*/
    z-index: -1;
    background: linear-gradient(243deg, #fff4da, #ffffff, #e6f7f1);
    background-size: 600% 600%;
    -webkit-animation: AnimationName 10s ease infinite;
    -moz-animation: AnimationName 10s ease infinite;
    animation: AnimationName 10s ease infinite;
}

.container-about-me{
    background: #FFF4DA;
    height: 15vh;
    z-index: -1;
    font-size: 13px;
    vertical-align: middle;
}

.img-circle {
    border-radius: 60%;
    width: 35%;
    height: auto;
    top: 50%;
	  transform: translateY(25%);
}


.disabled-scroll{
  overflow-x: hidden;
  overflow-y: auto;
}

@media (min-width: 200px) {
  .footer-fixed{
    height: 18vh;
  }

  #container-main{
    height: 80vh;
  }

  .img-circle{
    width: 65%;
    transform: translateY(80%);
  }

  .footer-label-right{
    margin: auto;
  }
}

@media (min-width: 400px) {
  #container-main{
    height: 80vh;
  }

  .footer-fixed{
    height: 20vh;
  }

  .img-circle {
      width: 65%;
      transform: translateY(70%);
  }
}

@media (min-width: 500px) {

  .img-circle{
    transform: translateY(20%);
  }

  .footer-label-right{
    margin: auto;
    float: right;
  }
}

@media (min-width: 750px) {
    #container-main{
      height: 90vh;
    }

    .footer-fixed{
      height: 10vh;
    }

  .img-circle{
    width: 35%;
    transform: translateY(30%);
  }
}

@media (min-width: 992px) {
  .img-circle{
    width: 32%;
    transform: translateY(25%);
}

/*@media screen and (orientation:landscape) {
  .img-circle{
    width: 100%;
    height: auto;
  }
}*/
