* {
  padding: 0;
  margin: 0;
  font-family: broadsheet, serif;
}

#container,
body,
html {
  height: 100%;
  width: 100%;
  font-size: 18px;
}

ul {
  margin-left: 16px;
}

.content {
  padding: 24px;
}

.date {
  margin-top: 16px;
  font-weight: 500;
  text-decoration: underline;
}

.header {
  margin-bottom: 4px;
}

.header-title {
  font-size: 22px;
  font-weight: bold;
  font-family: broadsheet, serif;
  display: inline-block;
}

.header-divider {
  display: inline-block;
}

li > a {
  font-family: teimer-web, serif;
  font-style: normal;
  font-weight: 300;
}

a > i {
  font-family: teimer-web, serif;

}


.header-subtitle {
  display: inline-block;
  font-family: 'Courier New', Courier, monospace;
}

#email {
  font-size: 16px;

}

.key {
  margin-top: 8px;
}

@media only screen and (max-width: 390px) {
  * {
    font-size: 14px;
  }
}