@import url("https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,400;0,700;1,400;1,700&display=swap");
* {
    padding: 0;
    margin: 0;
    font-family: "Karla";
}

#container,
body,
html {
  height: 100%;
  width: 100%;
}

a {
  color: inherit;
}

h1 {
  font-weight: 400;
  font-size: 32px;
  color: #37474f;
}

h3 {
  font-size: 18px;
  font-weight: 500;
  margin-top: 0;
}

h4 {
  font-size: 15px;
  font-weight: 500;
  margin-top: 0;
}

h5 {
  font-size: 12px;
  margin-top: 0;
  font-weight: 500;
  display: inline;
}

h6 {
  font-size: 16px;
  font-weight: 300;
  margin-top: 48px;
  margin-bottom: 6px;
  color: #616161;
  opacity: 0.6;
}

iframe {
  margin: none;
  padding: none;
  display: inline-block;
  line-height: 0;
}

.header {
  font-weight: 400;
  font-size: 30px;
  color: #37474f;
  padding-bottom: 8px;
  font-weight: 700;
}

.info-container {
  box-shadow: 0 1px 16px 0 rgba(0, 0, 0, 0.12);
  padding: 20px;
  border-radius: 22px;
  position: absolute;
  margin-left: 40px;
  margin-right: 40px;
  margin-bottom: 40px;
  transform: translateY(15%);
}

.icon {
  color: #a5a5a5;
  margin-right: 2px; // TODO(teddywilson) probably should just space container evenly.
}

@media (min-width: 250px) {
  .header {
      font-size: 22px;
  }
}

@media (min-width: 500px) {
  .info-container {
      max-width: 550px;
      width: 40%;
      left: 0;
      margin-left: 110px;
      transform: translateY(40%);
  }
  .header {
      font-size: 32px;
  }
  h5 {
      font-size: 13px;
  }
  h6 {
      font-size: 13px;
  }
}