* {
  padding: 0;
  margin: 0;
  font-family:Tahoma, Geneva, Verdana, sans-serif;
}

#container,
body,
html {
  height: 100%;
  width: 100%;
  font-size: 16px;
  background-color: #faf6f1b1;
  font-family:Tahoma, Geneva, Verdana, sans-serif;
}

ul {
  margin-left: 16px;
}

.content {
  padding: 24px;
}

.date {
  margin-top: 16px;
  font-family:Tahoma, Geneva, Verdana, sans-serif;  
  font-weight: 500;
  text-decoration: underline;
}

.header {
  font-family:Tahoma, Geneva, Verdana, sans-serif;  
  margin-bottom: 4px;
}

.header-title {
  font-size: 22px;
  font-weight: bold;
  font-family:'Segoe UI', Geneva, sans-serif;
  display: inline-block;
}

.header-divider {
  display: inline-block;
}

.header-subtitle {
  display: inline-block;
}

.key {
  margin-top: 8px;
  font-family:Tahoma, Geneva, Verdana, sans-serif;  
}

@media only screen and (max-width: 390px) {
  * {
    font-size: 14px;
  }
}